@font-face {
  font-family: "myFont";
  src: url(webfonts/BebasNeue-Regular.ttf);
}

:root {
  --one-color: #FB9500;
  --two-color:linear-gradient(180deg,rgba(236,185,122,1)10%,rgba(244,231,215,1))46%; ;
}
.one-color {
  color: #FB9500 !important;
}
/* ======any btn======= */
.main-btn {
  padding: 5px;
  background-color: var(--one-color);
  color: white;
  border-radius: 8px;
  border: none;
  /* text-decoration: none; */
}
.main-btn:hover {
  background-color: #333;
  color: #fff;
}
.home-btn{
  color: var(--one-color);
  width: 50%;
}
.color-nav{
  color: #000 !important;
}
/* ==============start navbar========= */
.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
  font-style: italic;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: #FB9500;
}
.navbar{
  color: var(--one-color) !important;
}
.navbar .navbar-toggler {
  font-size: 25px;
  background-color: white;
}
/* =================end navbar============== */

/* ============start home=================== */
.home .bac-home {
  background-image: url(images/hotels.jpg);
  height: calc(100vh - 65.95px);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
/* .bac-home .layer-home {
  background-color: rgba(0, 0, 0, 0.7);
} */
.layer-home .description-home {
  top: 50%;
  transform: translateY(-70%);
}
.layer-home .description-home p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}
.layer-home .description-home h1 {
  color: #FB9500;
  font-family: "myFont";
  font-style: italic;
  letter-spacing: 5px;
  font-weight: 600;
}
.layer-home .description-home h4 {
  color: white;
}
.layer-home .description-home h4::after {
  content: "";
  animation-name: typing;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
/* ============end home===================== */
/* ==========start Features================ */
.Features {
 background: var(--two-color);
 
}
.introdaction .line-1 {
  background-color: black;
  width: 100px;
  height: 2px;
  margin-bottom: 5px;
}
.introdaction .line-2 {
  background-color: black;
  width: 200px;
  height: 2px;
  margin-bottom: 5px;
}
.introdaction .line-3 {
  background-color: black;
  width: 100px;
  height: 2px;
}
.Features .items-Features:hover {
  background-color: white;
}
.Features .bac-Features {
  background-image: url(images/hotels6.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.bac-Features .layer-Features {
  background-color: rgba(250, 7, 27, 0.5);
}
.icons-counter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--one-color);
  border: 5px solid white;
}
.item-counter:hover {
  background-color: white;
}
/* ============end Features============= */
/* ==============start Hotels=================== */
.hotel {
  background: var(--two-color);
}
#Hotels.main-btn {
  text-decoration: none; /* Remove underline */
}
.wonder{
  background: var(--two-color);
}
.img-wonder{
  border: solid 3px #fff;
}
/* =====================start testimonial==================== */
.testimonial {
 background: var(--two-color);
}
.line-slider {
  background-color: black;
  width: 150px;
  height: 2px;
  margin-bottom: 5px;
  
}
.carousel-indicators .btn-slider {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--one-color);
}

/* =====================send testimonial==================== */

/* ================start contact================ */
.contact {
 background: var(--two-color);
  
}
.line-contact {
  background-color: black;
  width: 150px;
  height: 2px;
  margin-bottom: 5px;
}
.social-contant .fa-facebook-f:hover,
.social-contant .fa-linkedin-in:hover {
  color: #0d6efd;
}
.social-contant .fa-twitter:hover {
  color: #00acee;
}
.social-contant .fa-instagram:hover {
  color: #FB9500;
}
/* =================end contact====================== */
/* ================Signin========= */
.Signin {
 background: var(--two-color);
  
}
.Signin-container {
  margin: 100px auto;
  padding: 20px;
}

input[type="email"],
input[type="text"],
input[type="password"],
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#nameAlart {
  color: red;
}
#passAlart {
  color: red;
}
/* ============ end Signin========== */
/*===================== start card=============== */
/* ===================================== */
.sidebar {
  width: 500px;
  position: fixed;
  top: 0;
  left: 100%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  /* padding: 15px; */
  text-align: center;
  z-index: 9999999;
  height: 100vh;
}
.head {
  /* background-color: var(--one-color); */
  border-radius: 3px;
  height: 40px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #333;
}
#close {
  cursor: pointer;
}
.active .sidebar {
  left: calc(100% - 500px);
}
.cart-item {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 20px;
}
.row-img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowimg {
  max-width: 66px;
  max-height: 66px;
  border-radius: 50%;
}
.fa-trash:hover {
  cursor: pointer;
  color: #333;
}
/* =============end card============== */
footer {
  width: 100%;
  background-color: #333333;
}
